.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 10px;
  justify-content: center;
}
.spacing{
  margin-left: 25px;
  margin-right: 25px;
}
